<div class="flex-one flex-row" style="background: red;">
  {{player-piano midi=score.midi time=time}}
  {{settings-panel isOpen=settingsPanelIsOpen}}
</div>
{{control-bar score=score time=time settingsPanelIsOpen=settingsPanelIsOpen}}
