@import 'constants.scss';
@import 'nav.scss';
@import 'modal.scss';
@import 'users.scss';
@import 'menu.scss';
@import 'player.scss';
@import 'slider.scss';
@import 'control-bar.scss';
@import 'settings-panel.scss';

html {
  box-sizing: border-box;
  font-family: "proxima-nova", "Proxima Nova", helvetica, arial, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  color: $text-gray;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  outline: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  margin: 0; padding: 0;
}

table {
  width: 100%;
}


// flexbox mastery
.flex-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex-one {
  flex: 1;
}

