$primary-color: #729FCF;
$primary-color-dark: darken($primary-color, 15%);
$primary-color-darker: darken($primary-color, 40%);
$primary-color-light: lighten($primary-color, 15%);

$muteness: 25%;
$mute-color: desaturate($primary-color, $muteness);
$mute-color-dark: desaturate($primary-color-dark, $muteness);
$mute-color-darker: desaturate($primary-color-darker, $muteness);
$mute-color-light: desaturate($primary-color-light, $muteness);

$accent-color: #F3A42D;
$mute-accent-color: desaturate($accent-color, $muteness);

$text-gray-light: #808080;
$text-gray: #606060;
$text-gray-dark: #404040;
$darkest-gray: #101010;
$dark-gray: #303030;
$separator-gray: #C0C0C0;
$separator-gray-dark: #909090;
$cool-gray: #BECEDE;

$nav-height: 72px;
$control-bar-height: 72px;
