$primary-color: rgb(59,147,182);
$primary-color-light: rgb(109,180,208);
$primary-color-dark: rgb(20,49,61);

$secondary-color: rgb(163,199,55);

$nav-height: 72px;
$text-gray: #777;
$separator-gray: #E0E0E0;
