$primary-color: #3B3346;
$primary-color-light: #60516E;
$primary-color-dark: #3B3346;

$accent-color: #F3A42D;

$nav-height: 72px;
$text-gray: #777;
$separator-gray: #E0E0E0;

$control-bar-height: 72px;