.form-page {
  background: #F8F8F8;  
  border-top: 1px solid $separator-gray;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-page {
  border-top: 1px solid $separator-gray;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-container {
  margin: auto;
  max-width: 550px;
  float: none;
  h1 {
    text-align: center;
    margin: 55px 0 33px;
    font-size: 34px;
    line-height: 36px;
  }

  h1::after {
    content: "";
    width: 170px;
    display: block;
    margin: auto;
    padding: 22px 0 11px;
    border-bottom: 1px solid $separator-gray;
  }
}

.main-container {
  margin: auto;
  float: none;
  &.content-container {
    max-width: 1104px;
  }

  .message {
    text-align: center;
    color: $text-gray;
    font-size: 1.3rem;
    margin: 2rem;
  }
}
