


button.primary {
  font: 16px/22px "freight-display-pro";
  padding: 8px 16px;
  border-radius: 4px;
  width: 100px;
  color: white;
  background: $primary-color-light;
}

button.primary:hover {
  background: $primary-color;
}
