section.intro {
  //background-color: $primary-color-darker;
  //background-image: radial-gradient(circle at bottom, $primary-color 30%, $primary-color-darker 70%, $mute-color-darker);
  //background-image: url(assets/images/hero.svg);
  //background: linear-gradient(-15deg, $mute-color-dark 0, $primary-color-darker 100%);
  color: white;
  font-weight: 100;
  text-align: center;
  height: 700px;
  position: relative;

  h1 {
    position: relative;
    z-index: 1;
    padding-top: 25px;
    font-size: 5rem;
    letter-spacing: -4px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.42);
  }

  p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 2rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.42);
  }

  .demo-width {
    max-width: $section-content-width;
    margin: auto;
  }

  .demo-window {
    position: absolute;
    bottom: 0;
    //background-color: $piano-background-color;
    height: 500px;
    width: 100%;
    max-width: $section-content-width;
    display: flex;
    flex-direction: column;
    text-align: left;
    ul {
      border-radius: 6px 6px 0 0;
      background-color: $mute-color-light;
      height: 32px;
      padding-left: 12px;
      font-size: 0;
      li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #999;
        margin-top: 12px;
        margin-right: 6px;
      }
    }
    .demo {
      position: relative;
      flex: 1;
    }
  }
}

section > .content {
  padding: 1rem 0rem;;
  margin: auto;
  max-width: $section-content-width;
}

section.features {
  text-align: center;

  h2 {
    padding: 2rem;
    font-size: 2rem;
  }

  h3 {
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 1.25rem;
  }

  p {
    margin: 0;
    color: $text-gray-light;
  }

  span {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    background-color: $primary-color-dark;
    border-radius: 50%;
  }

  img {
    width: 100%;
    padding: 25%;
  }

  ul {
    margin: -0.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0rem;
  }

  li {
    margin: 1rem;
    flex: 1;
    min-width: $section-content-width * (11/40);
  }
}

.hero-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: radial-gradient(circle at bottom, $primary-color 0%, $primary-color-darker);
  > img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
}

