.intro {
  //background-color: $primary-color-darker;
  //background-image: radial-gradient(circle at bottom, $primary-color 30%, $primary-color-darker 70%, $mute-color-darker);
  //background-image: url(assets/images/hero.svg);
  //background: linear-gradient(-15deg, $mute-color-dark 0, $primary-color-darker 100%);
  color: white;
  font-weight: 100;
  text-align: center;
  height: 700px;
  position: relative;

  * {
    z-index: 1;
  }

  h1 {
    padding-top: 25px;
    font-size: 5rem;
    letter-spacing: -4px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.42);
  }

  p {
    margin: 0;
    font-size: 2rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.42);
  }

  .demo-width {
    width: 940px;
    margin: auto;
  }
  .demo-window {
    position: absolute;
    bottom: 0;
    //background-color: $piano-background-color;
    height: 500px;
    width: 940px;
    display: flex;
    flex-direction: column;
    text-align: left;
    ul {
      border-radius: 6px 6px 0 0;
      background-color: $mute-color-light;
      height: 32px;
      padding-left: 12px;
      font-size: 0;
      li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #999;
        margin-top: 12px;
        margin-right: 6px;
      }
    }
    .demo {
      position: relative;
      flex: 1;
    }
  }
}

.hero-layer {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: radial-gradient(circle at bottom, $primary-color 0%, $primary-color-darker);
  > img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
}
