$menu-triangle-offset: 12px;
$menu-triangle-length: 9px;

.menu {
  padding: 0;
  z-index: 1000;
  position: absolute;
  right: -$menu-triangle-length - $menu-triangle-offset;
  top: $menu-triangle-length * 2;
  margin-top: 0px;
  width: 12rem;
  box-shadow: 0 1px 5px #999;
  border-radius: 0.5rem;
  background: white;
  ul {
    border-radius: inherit;
    overflow: hidden;
    list-style-type: none;
    li {
      font-size: 1rem;
      color: $text-gray;
      button {
        color: #3B3346;
        text-align: left;
        line-height: 1.5rem;
        padding: .3rem 1.4rem .3rem 2.5rem;
        width: 100%;
      }
      button:hover {
        color: white;
        background-color: #2a80b9;
        //border-bottom: 1px solid #2a80b9;
      }
      button.logout {
        border-top: 1px solid $separator-gray;
      }
    }
  }
}

.menu:after, .menu:before {
  bottom: 100%;
  right: $menu-triangle-offset;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.menu:after {
  border-bottom-color: white;
  border-width: $menu-triangle-length - 2px;
  margin-right: 2px;
}
.menu:before {
  border-bottom-color: $separator-gray;
  border-width: $menu-triangle-length;
}

