.wrapper {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

nav.primary {
  height: $nav-height;
  color: $text-gray;
  border-bottom: 2px solid $separator-gray;
  display: flex;
  flex-direction: row;
  /* alignment */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.logo {
  display: block;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.remainder {
  flex: 1;
}

#session {
  position: relative;
}

.nav-element {
  padding: 0 0px;
  height: 100%;
  /* alignment */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#session {
  padding: 0;
}

.session {
  font-size: 0;
  * {
    font-size: 1rem;
  }
  > button {
    color: white;
    margin: 0px;
    padding: 12px 24px;
    font-size: 12px;
    border: 0px;
    text-transform: uppercase;
  }
}

.session > button:first-of-type {
  background: $primary-color;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.session > button:last-of-type {
  background: $primary-color-dark;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content {
  position: relative;
  background: #F8F8F8;
  flex: 1;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid $text-gray;
}
