
.app {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

nav.primary {
  height: $nav-height + 1px;
  color: $text-gray;
  // border-bottom: 1px solid $separator-gray;
  /* alignment */
  display: flex;
  flex-direction: row;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.nav-element {
  padding: 0 0px;
  height: 100%;
  /* alignment */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.logo {
  height: 100%;
  padding: 24px;
  svg {
    .note {fill: $dark-gray;}
    .river {fill: $primary-color;}
    height: 100%;
  }
}
.logo:hover {
  .note {fill: $darkest-gray;}
  .river {fill: $primary-color-dark;}
}

.remainder {
  flex: 1;
}

#current-session-button {
  display: flex;
  flex-direction: row;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  height: 100%;
  padding: 10px 24px;
}

.arrow-down {
  position: relative;
  padding: 0;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid $text-gray;
  margin-left: 12px;
}

#current-session-button:hover {
  .arrow-down {
    border-top-color: $darkest-gray;
  }
}




