.midi-player {
  position: absolute;
  width: 100%;
  height: 100%;
  //color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.piano-roll {
  background: #303030;
  width: 100%;
  flex: 1;
  transform: scaleY(-1);
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }  
}



