.midi-player {
  position: absolute;
  width: 100%;
  height: 100%;
  //color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.score-view {
  background: $piano-background-color-light;
  width: 100%;
  flex: 1;
  position: relative;
  canvas {
    position: absolute;
  }
}

.piano-roll {
  background-image: -webkit-radial-gradient(center top, circle cover, $piano-background-color-light 70%, $piano-background-color-dark);
  transform: scaleY(-1);
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }  
}



