.settings-panel-container {
  color: white;
  position: absolute;
  height: 100%;
  width: 325px;
  right: -325px;
  background: $mute-color-dark;
  transition: right 0.25s;
}

.settings-panel-container.is-open {
  right: 0px;
}

.settings-panel {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 325px;
  height: 100%;
  background: $mute-color-dark;
  header {
    background: $mute-color-darker;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px;
    button {
      float: right;
      img {
        height: 1em;
        width: 1em;
      }
    }
  }
  section {
    padding: 20px;
    color: $mute-color;
    text-align: center;
  }
  .slide-control {
    height: 56px;
    display: flex;
    button: {
      width: 56px;
      height: 100%;
    }
  }
}

.slide-control {
  button {
    height: 100%;
    padding: 14px;
    img {
      height: 100%;
    }
  }
}

.button-control {
  width: 100%;
  height: 56px;
  padding: 12px;
  button {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    min-height: 100%;
    border: 1px solid $mute-color-darker;
    border-radius: 4px;
  }
  button:hover {
    background: $mute-color-darker;
  }
}




