.settings-panel-container {
  position: relative;
  width: 0px;
  background: $mute-color-dark;
  transition: width 0.5s;
}

.settings-panel-container.is-open {
  width: 325px;
}

.settings-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 325px;
  height: 100%;
  background: $mute-color-dark;
  header {
    background: $mute-color-darker;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px;
    button {
      float: right;
      img {
        height: 1em;
        width: 1em;
      }
    }
  }
}
