.avatar {
  border-radius: 50%;
  height: 100%;
  padding: 10px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $text-gray;
}
