<section class="intro">
  <h1>MIDI, evolved</h1>
  <p>A better way to share your MIDIs online</p>

  <div class="demo-width">
    <div class="demo-window">
      <div class="window-bar">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="demo">
        {{midi-player score=firstScore}}
      </div>
    </div>
  </div>
</section>

