<section class="index intro">
  <h1>MIDI, evolved</h1>
  <p>A better way to share your MIDIs online</p>

{{!
  <div class="hero-layer">
    <img src="/assets/images/hero.svg"/>
  </div>
}}

  {{svg-triangles}}

  <div class="demo-width">
    <div class="demo-window">
      <div class="window-bar">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="demo">
        {{midi-player score=firstScore}}
      </div>
    </div>
  </div>

</section>

<section class="index features">
  <div class="content">
    <h2>Full-featured player, right in your browser</h2>
    <ul>
      <li>
        <span class="feature-circle">
          <img src="assets/images/speedometer.svg" />
        </span>
        <h3>Tempo adjustment</h3>
        <p>Speed up the tempo and skim through a song quickly. Or, slow it down, and practice at your own pace.</p>
      </li>
      <li>
        <span class="feature-circle">
          <img src="assets/images/track-selection.svg" />
        </span>
        <h3>Part selection</h3>
        <p>Focus on just the tracks that interests you. Practice only one hand of a tricky piano piece, or only one instrument in an orchestra.</p>
      </li>
      <li>
        <span class="feature-circle">
          <img src="assets/images/metronome.svg" />
        </span>
        <h3>Metronome</h3>
        <p>The template plays you in to set the tempo, and helps you keep the rhythm throughout the song.</p>
      </li>
      <li>
        <span class="feature-circle">
          <img src="assets/images/key-transposition.svg" />
        </span>
        <h3>Key transposition</h3>
        <p>Bored with C major? Spice up any song by transposing to a different key with a single click.</p>
      </li>
      <li>
        <span class="feature-circle">
          <img src="assets/images/tag.svg" />
        </span>
        <h3>Note labels</h3>
        <p>Need a hint? Noteriver labels notes with finger numbers and note letters.</p>
      </li>
      <li>
        <span class="feature-circle">
          <img src="assets/images/drumset.svg" />
        </span>
        <h3>The full orchestra</h3>
        <p>Bring the whole band. Our player has every instrument you need, from grand piano to timpani.</p>
      </li>
    </ul>
  </div>
</section>
