{{#link-to 'score' score}}
  <section>
    {{score.title}} - {{score.artist}}
  </section>
{{/link-to}}

<footer>
  <img src="{{score.user.avatarUrl}}" class="avatar"/>
  &nbsp;&nbsp;{{moment-from-now score.createdAt}}
</footer>
