<div class="content-container">
  {{model.length}} scores

  <ul class="account-scores">
  {{#each model as |score|}}
    <li class="account-score">
      {{score.artist}} - {{score.title}}
    </li>
  {{/each}}
  </ul>
</div>
