<header class="search-header">
  <div class="search-container">
    {{input value=search id='scores-search-query' placeholder="What song are you looking for?"}}
  </div>
</header>

<section class="content">
  <ul class="scores">
    {{#each scores as |score|}}
      {{li-score score=score}}
    {{/each}}
  </ul>
</section>
