
<div class="flex-row">
  <div class="profile-column" style="background:#ddd">
    <h2>{{model.username}}</h2>
    <img src="{{model.avatarUrl}}" class="avatar fill-width"/>
  </div>
  <div class="remainder">
    {{outlet}}
  </div>
</div>



