
<div class="flex-row">
  <div class="user-profile">
    <img src="{{model.avatarUrl}}" class="avatar fill-width"/>
    <h2>{{model.username}}</h2>
  </div>
  <div class="user-profile-page">
    {{outlet}}
  </div>
</div>



