
<header class="user-profile">
  <img src="{{model.avatarUrl}}" class="avatar"/>
  <h1>{{model.username}}</h1>
  {{!-- <p>{{model.bio}}</p> --}}
</header>

<div class="main-container content-container">
  {{outlet}}
</div>
