
<div class="wrapper">
  <nav class="primary">
    <div class="nav-element">
      {{#link-to 'application' classNames="logo"}}
      Noteriver
      {{/link-to}}
    </div>
    <div class="remainder">
    </div>
    {{render "session"}}
  </nav>
  <div class="content">
    {{outlet}}
  </div>
</div>
