
<div class="wrapper">
  <nav class="primary">
    <div class="logo nav-element">
      Noteriver
    </div>
    <div class="remainder">
    </div>
    {{render "session"}}
  </nav>
  <div class="content">
    {{outlet}}
  </div>
</div>
